<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{machine.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{machine.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/machines}" class="btn btn-secondary">[[#{machine.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('machine')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='machine', field='machineId', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='machine', field='machineName', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='machine', field='test', type='select')}" />
                <input type="submit" th:value="#{machine.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
