<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{labFault.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{labFault.list.headline}]]</h1>
                <div>
                    <a th:href="@{/labFaults/add}" class="btn btn-primary ms-2">[[#{labFault.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${labFaults.empty}">[[#{labFault.list.empty}]]</div>
            <div th:if="${!labFaults.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{labFault.faultId.label}]]</th>
                            <th scope="col">[[#{labFault.faultName.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="labFault : ${labFaults}">
                            <td>[[${labFault.faultId}]]</td>
                            <td>[[${labFault.faultName}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/labFaults/edit/{faultId}(faultId=${labFault.faultId})}" class="btn btn-sm btn-secondary">[[#{labFault.list.edit}]]</a>
                                    <form th:action="@{/labFaults/delete/{faultId}(faultId=${labFault.faultId})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{labFault.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
